.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/images/loggin-bg-2.PNG);
    background-color: #011515;
    background-position: center;
    background-size: cover;
}

.login-card-label, .login-card-input, .login-card-button {
    margin: 15px;
}

.login-card {
    background-color: #c7a38e;
    border: none;
}

.login-card-button {
    margin: auto;
    width: 150px;
    background-color: #7e7775;
    color: #fffffe;
}

.login-card-button:hover {
    background-color: #9e908c;
    color: #fffffe;

}